---
import { Icon } from 'astro-icon'
import BackButton from '../../components/BackButton.astro'
import EventsList from '../../components/EventsList.astro'
import Layout from '../../layouts/Layout.astro'
import { getArtistsByLocation } from '../../utils/getArtistsByLocation'
import { getArtistsPath } from '../../utils/getArtistsPath'

export function getStaticPaths() {
	const allArtists = getArtistsPath()
	return allArtists.map(artist => ({
		params: { location: artist.path, artist: artist.artistInfo.id },
		props: { ...artist },
	}))
}

const { artistInfo, path, location, backgroundColor, textColor } = Astro.props
const { name, image, links, description, extra } = artistInfo

const descriptionSplited = description.split('\n')
---

<Layout title='algo'>
	<main class={`flex w-full h-full min-h-screen ${backgroundColor} bg-texture bg-xl`}>
		<article class='flex py-28 gap-14 mx-auto items-center flex-col xl:flex-row'>
			<img class='max-w-xl h-fit object-contain rounded-2xl' src={image.url} alt={image.alt} />
			<section class={`w-full max-w-lg flex flex-col gap-6 p-10 rounded-2xl ${backgroundColor}`}>
				<h1 class='text-6xl font-black leading-[3rem]'>{name}</h1>
				{!!extra.subTitle && <span class='-mt-4 text-sm'>{extra.subTitle}</span>}
				{
					links.lenght !== 0 && (
						<ul class='flex gap-2'>
							{links.map(link => (
								<li>
									<a href={link.url}>
										<Icon class='h-6 w-6' name={`mdi:${link.name}`} />
									</a>
								</li>
							))}
						</ul>
					)
				}
				{descriptionSplited.map(description => <p class='font-extralight'>{description}</p>)}
				{
					!!extra.text && (
						<ul>
							<li class='text-2xl'>{extra.text}</li>
							{extra.list.lenght !== 0 && extra.list.map(list => <li class='font-extralight'>{list.split(':')}</li>)}
						</ul>
					)
				}
			</section>
			<section class={`flex flex-col h-fit gap-8 ${backgroundColor} max-w-sm p-10 pb-40 rounded-2xl relative`}>
				<h2 class='text-3xl leading-6 pl-3 font-bold'>También en {location}:</h2>
				<EventsList query={path} />
				<BackButton textColor={textColor} />
			</section>
		</article>
	</main>
</Layout>
