---
import { Icon } from 'astro-icon'
import BackButton from '../../components/BackButton.astro'
import Schedule from '../../components/Schedule.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import PageContainer from '../../components/PageContainer.astro'
import Title from '../../components/Title.astro'
import Layout from '../../layouts/Layout.astro'
import Paragraph from '../../components/Paragraph.astro'
import Contacts from '../../components/Contacts.astro'
import Image from '../../components/Image.astro'
import { getEventById, getEventsPath, getLocationById } from '../../utils/'

export function getStaticPaths() {
	const eventsPath = getEventsPath()
	return eventsPath.map((eventPath) => ({
		params: { location: eventPath.location, event: eventPath.event },
		props: { ...eventPath }
	}))
}

const { location: locationId, event: eventId } = Astro.props

const eventInfo = getEventById(eventId)
const locationInfo = getLocationById(locationId)

const { name, image, links, description, subTitle, list } = eventInfo
const { styles, title } = locationInfo
---

<Layout title={`ARC 2023 | ${name}`} description={description}>
	<Header
		backgroundColor={styles.backgroundColor}
		hoverTextColor={styles.hoverTextColor}
		groupHoverTextColor={styles.groupHoverTextColor}
	/>
	<PageContainer backgroundColor={styles.backgroundColor} borderColor={styles.borderColor}>
		<Fragment slot='first-section'>
			<Title>{name}</Title>
			{
				Object.keys(subTitle).length !== 0 && (
					<p class='-mt-3 text-md'>
						<b>{subTitle.title}</b>
						{subTitle.text}
					</p>
				)
			}
			<Contacts links={links} hoverTextColor={styles.hoverTextColor} />
			<Image url={image.url} alt={image.alt} />
			<Paragraph description={description} />
			{
				list.length !== 0 && (
					<ul>
						{list.map((items) => (
							<>
								<li class='text-lg font-bold leading-5 py-2'>{items.title}</li>
								{items.text.map((item: string) => (
									<li class='font-normal'>{item}</li>
								))}
							</>
						))}
					</ul>
				)
			}
		</Fragment>
		<Fragment slot='second-section'>
			<div class='flex items-center'>
				<h2 class='text-4xl leading-9 font-bold'>En {title}</h2>
				<!-- <img class='h-20' src={locationImage.url} alt={locationImage.url} /> -->
			</div>
			<Schedule locationId={locationId} eventId={eventId} />
			<BackButton
				hoverBackgroundColor={styles.hoverBackgroundColor}
				Element='a'
				link={`/${locationId}`}
			>
				<p class='inline group-hover:text-white'>Volver</p>
				<Icon class='inline h-5 group-hover:text-white' name='mdi:arrow-u-left-top' />
			</BackButton>
		</Fragment>
	</PageContainer>
	<Footer backgroundColor={styles.backgroundColor} />
</Layout>
