---
import { Icon } from 'astro-icon'
import { ARC_2023 } from '../../data/ARC_2023'
import Layout from '../../layouts/Layout.astro'
import Title from '../../components/Title.astro'
import Schedule from '../../components/Schedule.astro'
import PageContainer from '../../components/PageContainer.astro'
import Header from '../../components/Header.astro'
import Paragraph from '../../components/Paragraph.astro'
import RelevantLinks from '../../components/RelevantLinks.astro'
import Image from '../../components/Image.astro'
import Footer from '../../components/Footer.astro'
import ButtonLink from '@components/ButtonLink.astro'

export function getStaticPaths() {
	const { locations } = ARC_2023
	return locations.map((location) => ({
		params: { location: location.id },
		props: { ...location }
	}))
}

const { id, title, address, extract, description, links, styles, image, tickets } = Astro.props
---

<Layout title={`ARC 2023 | ${title}`} description={extract}>
	<Header styles={styles} />
	<PageContainer backgroundColor={styles.backgroundColor} borderColor={styles.borderColor}>
		<Fragment slot='first-section'>
			<Title>{title}</Title>
			<span class='text-xl'>{address}</span>
			<RelevantLinks
				links={links}
				hoverTextColor={styles.hoverTextColor}
				borderColor={styles.borderColor}
			/>
			{
				Object.hasOwn(tickets, 'url') && (
					<ButtonLink invertedColors anchor href={tickets.url} styles={styles} className='my-8'>
						Tickets <img class='aspect-[139/150] h-8 inline' src='/ticket.svg' alt='' />
					</ButtonLink>
					// <div class='my-8'>
					// 	<h3 class='text-xl'>
					// 		Obtén tus entradas
					// 	</h3>
					// </div>
				)
			}
			{Object.hasOwn(image, 'url') && <Image url={image.url} alt={image.alt} />}
			<Paragraph description={description} />
		</Fragment>
		<Fragment slot='second-section'>
			<ButtonLink anchor href='/' styles={styles} invertedColors className='self-start'>
				Volver <Icon class='inline h-5 group-hover:text-white' name='mdi:arrow-top-left-thick' />
			</ButtonLink>
			<h2 class='text-3xl sm:text-4xl leading-8 font-black'>Programación</h2>
			<Schedule locationId={id} />
		</Fragment>
	</PageContainer>
	<Footer backgroundColor={styles.backgroundColor} />
</Layout>
