---
import EventsList from '../components/EventsList.astro'
import Title from '../components/Title.astro'
import { ARC_2023 } from '../data/ARC_2023'
import Layout from '../layouts/Layout.astro'

export function getStaticPaths() {
	const { locations } = ARC_2023
	return locations.map(location => ({
		params: { location: location.id },
		props: { ...location },
	}))
}

const { id, backgroundColor, textColor, artists, locationImage, description, title, direction } = Astro.props

const descriptionSplited = description.split('\n')
---

<Layout title={`ARC 2023 | ${title}`}>
	<main class={`flex w-full h-full min-h-screen ${backgroundColor} bg-texture bg-xl items-center`}>
		<article class={`flex gap-10 flex-col ${backgroundColor} h-fit rounded-lg p-10 max-w-xl`}>
			<Title>{title}</Title>
			<span class="leading-none font-light -mt-8">{direction}</span>
			<div class='flex flex-col gap-4 font-extralight'>
				{descriptionSplited.map(description => <p class='max-w-lg text-justify'>{description}</p>)}
			</div>
		</article>
		<article class="max-w-sm w-full">
			<h2 class=''>Programa: </h2>
			<EventsList query={id} />
		</article>
	</main>
</Layout>
