---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import Schedule from '../components/Schedule.astro'
import { ARC_2023 } from '../data/ARC_2023'
import BackButton from '../components/BackButton.astro'
import PageContainer from '../components/PageContainer.astro'
import Header from '../components/Header.astro'

export function getStaticPaths() {
	const { locations } = ARC_2023
	return locations.map((location) => ({
		params: { location: location.id },
		props: { ...location }
	}))
}

const { id, title, address, description, links, styles, locationImage } = Astro.props

const descriptionSplited = description.split('\n')
---

<Layout title={`ARC 2023 | ${title}`}>
	<Header
		backgroundColor={styles.backgroundColor}
		hoverTextColor={styles.hoverTextColor}
		groupHoverTextColor={styles.groupHoverTextColor}
	/>
	<PageContainer backgroundColor={styles.backgroundColor} borderColor={styles.borderColor}>
		<Fragment slot='first-section'>
			<Title>{title}</Title>
			<span class='leading-none -mt-4 font-medium'>{address}</span>
			<img src={locationImage.url} alt='' />
			<div class='flex flex-col gap-4'>
				{
					descriptionSplited.map((description) => (
						<p class='font-normal text-justify'>{description}</p>
					))
				}
			</div>
			<div class='flex gap-1'>
				<p>{links.title}</p>
				<a href={links.url}>{links.url}</a>
			</div>
		</Fragment>
		<Fragment slot='second-section'>
			<h2 class='text-5xl leading-9 font-bold'>Programa</h2>
			<Schedule locationId={id} />
			<BackButton hoverBackgroundColor={styles.hoverBackgroundColor} Element='a' link='/' />
		</Fragment>
	</PageContainer>
</Layout>
