---
import { getLocationById } from "../utils/getLocationById"
const { query } = Astro.props
const { artists, id } = getLocationById(query)
---

<ul class='flex flex-col gap-12'>
  {
    artists.map(artist => (
      <li class='font-normal text-xl group relative'>
        <a class='' href={`/${id}/${artist.id}`}>
          <p class='px-3 absolute z-20 group-hover:bg-black transition-[background-color] duration-200'>{artist.name}</p>
          <div class='group-hover:h-16 bg-black rounded-xl absolute -top-[1.125rem] z-10 w-full h-0 transition-all overflow-hidden flex items-center'>
            <img class='text-sm w-full h-fit' style={artist.image.position} src={artist.image.url} alt={artist.image.alt} />
          </div>
        </a>
      </li>
    ))
  }
</ul>