---
import { getScheduleByLocationId, getLocationById } from '../utils'
const { query } = Astro.props
const schedule = getScheduleByLocationId(query)
const { styles } = getLocationById(query)

---

<ul class='flex flex-col gap-2'>
	{
		schedule.map(({ day, events }) => (
			<li class='font-normal text-lg relative w-fit'>
				<p class="text-xl font-bold">{day}</p>
				{events.map(event => (
					<a class='block group' href={`/${query}/${event.id}`}>
						<p class={` ${styles.hoverTextColor} font-normal px-3 group-hover:bg-white transition-[background-color] duration-200 `}>{event.name}</p>
					</a>
				))}
			</li>
		))
	}
</ul>
