---
import ButtonLink from './ButtonLink.astro'
import LogoWithText from './LogoWithText.astro'
import Navbar from './Navbar.astro'
import { SearchEvents } from './SearchEvents'
import ToggleMenuButton from './ToggleMenuButton.astro'

const { styles = { backgroundColor: 'bg-main' }, id } = Astro.props

const text = id === 'estacionamiento-plaza-de-armas' ? 'text-neutral-700' : ''
---

<header
	class={`w-full fixed top-0 ${styles.backgroundColor} ${text} bg-texture bg-4xl sm:bg-xl z-50 transition-[background-color] duration-200 ease-in`}
>
	<div
		class={'grid grid-flow-col w-full items-center justify-between sm:px-14 px-4 py-2 sm:gap-14'}
	>
		<div class='grid grid-flow-col gap-14'>
			<ToggleMenuButton id='menu' />
			<LogoWithText styles={styles} />
		</div>
		<ButtonLink id={id} anchor href='/PROGRAMA_ARC23.pdf' styles={styles} className='hidden md:flex'>
			Descarga la Programación
		</ButtonLink>
		<ToggleMenuButton mobile id='menu-mobile' />
	</div>
</header>
<Navbar styles={styles} />

<script src='../scripts/displayNavbar.js'></script>
