---
import { Icon } from 'astro-icon'
import { getLocationById } from '../utils/getLocationById'
import BackButton from './BackButton.astro'
const { query } = Astro.props
const { id, title, extract, styles } = getLocationById(query)

let newTitle = ''

if (title.includes('Estacionamiento')) {
	newTitle = title.replace('Estacionamiento', 'Estaciona_ miento')
} else if (title.includes('Arqueol칩gico')) {
	newTitle = title.replace('Arqueol칩gico', 'Arqueol칩_ gico')
} else {
	newTitle = title
}
---

<section
	aria-label='location-info'
	id={id}
	class={`${styles.backgroundColor} flex flex-col gap-14 pb-28 md:pb-10 py-10 w-full max-w-[448px] px-10 h-auto overflow-y-auto bottom-0 top-12 absolute z-20 motion-reduce:animate-none`}
	style={{ opacity: '0', right: '-448px' }}
>
	<div class='flex flex-col gap-10'>
		<h2 class='text-5xl leading-10 sm:text-6xl font-black py-2 sm:leading-[3rem]'>{newTitle}</h2>
		<p class='font-normal text-justify'>{extract}</p>
		<a
			class={`font-bold p-2 text-lg bg-white outline-white -outline-offset-[3px] outline hover:bg-transparent hover:text-white self-center text-center leading-6 ${styles.textColor} transition-[background-color,color] duration-200 ease-in`}
			href={id}>Mira el Programa y Descubre m치s sobre {title}</a
		>
	</div>
	<BackButton Element='button'>
		<p class={`inline ${styles.groupHoverTextColor}`}>Cerrar</p>
		<Icon class={`inline h-6 ${styles.groupHoverTextColor}`} name='mdi:arrow-right' />
	</BackButton>
</section>

<style>
	section {
		transition: right 500ms;
		transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
</style>
