---
import { Icon } from 'astro-icon'
import { getLocationById } from '../utils/getLocationById'
import ButtonLink from './ButtonLink.astro'
const { query } = Astro.props
const { id, title, extract, styles } = getLocationById(query)

let newTitle = ''

if (title.includes('Estacionamiento')) {
	newTitle = title.replace('Estacionamiento', 'Estaciona_ miento')
} else if (title.includes('Arqueológico')) {
	newTitle = title.replace('Arqueológico', 'Arqueoló_ gico')
} else {
	newTitle = title
}
---

<section
	aria-label='location-info'
	id={id}
	class={`${styles.backgroundColor} flex flex-col gap-14 pb-28 md:pb-10 py-10 w-full max-w-[448px] px-10 h-auto bottom-0 top-12 absolute z-20 motion-reduce:animate-none`}
	style={{ opacity: '0', right: '-448px' }}
>
	<div class='flex flex-col gap-10'>
		<h2 class='text-5xl leading-10 sm:text-6xl font-black py-2 sm:leading-[3rem]'>{newTitle}</h2>
		<p class='font-normal text-justify'>{extract}</p>
		<ButtonLink styles={styles} anchor href={id} className='self-center'>
			Más información y Programación<Icon name='mdi:arrow-top-right-thick' class='h-5 inline' />
		</ButtonLink>
	</div>
	<ButtonLink styles={styles} className='self-center'>
		Cerrar <Icon
			class={`inline h-5 ml-1 ${styles.groupHoverTextColor}`}
			name='mdi:arrow-right-bold'
		/>
	</ButtonLink>
</section>

<style>
	section {
		transition: right 500ms;
		transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
</style>
