---
import { Icon } from 'astro-icon'
import { getLocationById } from '../utils/getLocationById'
import BackButton from './BackButton.astro'
const { query } = Astro.props
const { id, title, extract, styles } = getLocationById(query)

let newTitle = ''

if (title.includes('Estacionamiento')) {
	newTitle = title.replace('Estacionamiento', 'Estaciona_ miento')
} else if (title.includes('Arqueol칩gico')) {
	newTitle = title.replace('Arqueol칩gico', 'Arqueol칩_ gico')
} else {
	newTitle = title
}
---

<section
	aria-label='location-info'
	id={id}
	class={`${styles.backgroundColor} bg-texture flex flex-col justify-between bg-2xl pt-24 w-full md:max-w-md p-10 h-screen absolute motion-reduce:animate-none`}
	style={{ opacity: '0', right: '-448px' }}
>
	<div class='flex flex-col gap-10'>
		<h2 class='text-6xl font-black py-2 leading-[3rem]'>{newTitle}</h2>
		<p class='font-normal text-justify'>{extract}</p>
		<a
			class={`font-bold p-2 text-lg hover:bg-white self-center text-center leading-6 ${styles.hoverTextColor} transition-all duration-200 `}
			href={id}>Mira el Programa y Descubre m치s sobre {title}</a
		>
	</div>
	<BackButton Element='button'>
		<p class={`inline ${styles.groupHoverTextColor}`}>Cerrar</p>
		<Icon class={`inline h-6 ${styles.groupHoverTextColor}`} name='mdi:arrow-right' />
	</BackButton>
</section>

<style>
	section {
		transition: right 500ms;
		transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
</style>
