---
import { Icon } from 'astro-icon'
import { getLocationById } from '../utils/getLocationById'
import BackButton from './BackButton.astro'
import EventsList from './EventsList.astro'
const { query } = Astro.props
const { title, id, backgroundColor, textColor, description } = getLocationById(query)

let newTitle = ''

if (title.includes('Estacionamiento')) {
	newTitle = title.replace('Estacionamiento', 'Estaciona_ miento')
} else if (title.includes('Arqueológico')) {
	newTitle = title.replace('Arqueológico', 'Arqueoló_ gico')
} else {
	newTitle = title
}
---

<section
	aria-label={id}
	id='location-info'
	class={`${backgroundColor} bg-texture bg-2xl pt-24 w-full md:max-w-md p-10 -right-[448px] opacity-0 h-full absolute z-10 motion-reduce:animate-none`}
	style={{ display: 'hidden' }}
>
	<div>
		<h2 class='text-6xl font-black py-2 leading-[3rem]'>{newTitle}</h2>
		<p class='font-light'>{description}</p>
	</div>
	<div>
		<h3 class='text-4xl font-bold py-4'>Eventos:</h3>
		<EventsList query={id} />
	</div>
	<BackButton textColor={textColor} />
</section>

<style>
	section {
		transition: right 500ms;
		transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
</style>
