---
import { Icon } from 'astro-icon'
import { getLocationById } from '../utils/getLocationById'
const { query } = Astro.props
const { title, id, color, artists, description } = getLocationById(query)

let newTitle = ''

if (title.includes('Estacionamiento')) {
	newTitle = title.replace('Estacionamiento', 'Estaciona_ miento')
} else if (title.includes('Arqueol칩gico')) {
	newTitle = title.replace('Arqueol칩gico', 'Arqueol칩_ gico')
} else {
	newTitle = title
}
---

<section aria-label={id} id='location-info' class={`${color} pt-24 w-full max-w-md p-10 -right-[448px] opacity-0 h-screen absolute transition-[right] duration-200 z-10`} style={{ display: 'hidden' }}>
	<div>
		<h2 class='text-6xl font-black py-2 leading-[3rem]'>{newTitle}</h2>
		<p class='font-light'>{description}</p>
	</div>
	<div>
		<h3 class='text-4xl font-bold py-4'>Artistas:</h3>
		<ul class='flex flex-col gap-5'>
			{
				artists.map(artist => (
					<li class='font-normal text-xl group relative'>
						<a class='block' href={`${id}/${artist.id}`}>
							<p class='pl-6 '>{artist.name}</p>
							<div class='group-hover:h-16 bg-black rounded-xl absolute -top-[1.125rem] -z-10 w-full h-0 transition-all overflow-hidden'>
								<img class='text-sm' src='' alt={`Im치gen de ${artist.name}`} />
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</div>
	<button class='hover:bg-white group'>
		<Icon class={`text-white w-8 h-8 group-hover:${color.replace('bg-', 'text-')}}`} name='mdi:arrow-right-bold' />
	</button>
</section>
