---
import { MAP_ARC } from '../data/MAP_ARC'
import MapPins from './MapPins.astro'
const { map, icons } = MAP_ARC
---

<section id='zoom' class='relative h-[100vmax] w-[100vmax] origin-top-left scale-100 translate-x-0 translate-y-0 cursor-grab touch-none'>
	<img width="1200" height="1200" class='aspect-square h-[100vmax] w-[100vmax] object-cover' src={map.url} alt={map.alt} />
	<MapPins />
</section>
	
<script>
	const mapElement = document.getElementById('zoom')
	let scale = 1
	let panning = false
	let pointX = 0
	let pointY = 0
	let start = { x: 0, y: 0 }

	mapElement.querySelectorAll('a').forEach(anchor => {
		anchor.addEventListener('mouseup', e => {
			e.preventDefault()
			// if (!panning) {
			// 	anchor.href = '#'
			// } else {
			// 	anchor.href = '/'
			// }
		})
	})

	mapElement.style.transform = `translate(${pointX}px, ${pointY}px) scale(${scale})`
	function setTransform() {
		mapElement.style.transform = `translate(${pointX}px, ${pointY}px) scale(${scale})`
	}

	mapElement.onpointerdown = e => {
		e.preventDefault()
		start = { x: e.clientX - pointX, y: e.clientY - pointY }
		panning = true
	}

	mapElement.onpointerup = e => {
		panning = false
	}

	mapElement.onpointermove = e => {
		e.preventDefault()
		if (!panning) {
			return
		}
		pointX = e.clientX - start.x
		pointY = e.clientY - start.y
		setTransform()
	}

	mapElement.addEventListener(
		'wheel',
		e => {
			if (e.deltaY > 0 && scale === 1) return
			if (e.deltaY < 0 && scale === 1.728) return

			let xs = (e.clientX - pointX) / scale
			let ys = (e.clientY - pointY) / scale
			let delta = e.deltaY
			delta < 0 ? (scale *= 1.2) : (scale /= 1.2)
			pointX = e.clientX - xs * scale
			pointY = e.clientY - ys * scale

			setTransform()
		},
		{ passive: true }
	)
</script>
