---
import { Icon } from 'astro-icon'
import { getLocationById } from '../utils'
import ScheduleItem from './ScheduleItem.astro'
const { locationId, eventId } = Astro.props
const { styles, schedule } = getLocationById(locationId)
---

<div class='grid gap-5'>
	{
		schedule.map(({ day, events }) => (
			<div class='relative grid gap-1 text-base font-normal'>
				<div class='leading-3'>
					<p class='text-base font-bold leading-3 sm:text-lg'>
						{!!day && (
							<Icon name='mdi:calendar-multiselect' class={`inline w-6 ${styles.textColor}`} />
						)}
						{day.split('\n')[0]}
					</p>
					{!!day.split('\n')[1] && (
						<span class='pl-[1.85rem] text-base font-normal'>{day.split('\n')[1]}</span>
					)}
				</div>
				<ul class='mt-3 grid gap-1'>
					{events.map((event) => (
						<ScheduleItem styles={styles} locationId={locationId} event={event} eventId={eventId} />
					))}
				</ul>
			</div>
		))
	}
</div>
