---
import { Icon } from 'astro-icon'
import { getLocationById } from '../utils'
import ScheduleItem from './ScheduleItem.astro'
const { locationId, eventId } = Astro.props
const { styles, schedule } = getLocationById(locationId)
---

<div class='flex flex-col gap-5'>
	{
		schedule.map(({ day, events }) => (
			<div class='font-normal text-base relative flex flex-col gap-1'>
				<div class='leading-3'>
					<p class='text-base sm:text-lg font-bold leading-3'>
						{!!day && <Icon name='mdi:calendar-multiselect' class={`w-6 inline ${styles.textColor}`} />}
						{day.split('\n')[0]}
					</p>
					{!!day.split('\n')[1] && (
						<span class='font-normal text-base pl-[1.85rem]'>{day.split('\n')[1]}</span>
					)}
				</div>
				<ul class='flex flex-col gap-1 mt-3'>
					{events.map((event) => (
						<ScheduleItem styles={styles} locationId={locationId} event={event} eventId={eventId} />
					))}
				</ul>
			</div>
		))
	}
</div>
