---
import Header from '../components/Header.astro'

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/png' href='/favicon.png' />
		<meta name='generator' content={Astro.generator} />
		<meta name='description' content={description} />
		<title>{title}</title>
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link href='https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap' rel='stylesheet' />

		<meta name='twitter:card' content='summary' />
		<meta name='twitter:site' content='@festivalarc' />
		<meta property='og:title' content={title} />
		<meta property='og:description' content={description} />
		<meta property='og:image' content='/cardArc.png' />
		<meta property='og:url' content='https://www.festivalarc.cl' />
		<meta property='og:site_name' content={title} />
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	html {
		background-color: #db458c;
		font-family: 'Nunito', system-ui, sans-serif;
	}
	body {
		height: 100vh;
		overflow: hidden;
	}
</style>
